{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "experimentalDecorators": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/destructuring-assignment": [
      1,
      "always",
      {
        "ignoreClassFields": true
      }
    ],
    "no-shadow": ["error", {
      "allow": ["list"]
    }],
    "no-unused-expressions": [
      2,
      {
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
    "quotes": [
      0,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "react/prop-types": [0],
    "react/forbid-prop-types": [0],
    "no-underscore-dangle": 0
  }
}